$color0: #fff;
$color1: rgba(5, 5, 5, .2);
$color2: #af2d2d;
$color3: #232427;
$color4: rgba(255, 255, 255, .5);
$color5: gray;
$gray: #999999;
$dark-gray: #333333;
$blue: #0086e4;
$primary-color: $blue;
$border-color: #dddddd;
$box-shadow1: 5px 0 10px rgba(0, 0, 0, 0);
$box-shadow2: 0 20px 50px rgba(0, 0, 0, .5);
$box-shadow3: 0 40px 70px rgba(0, 0, 0, .5);
$box-shadow4: 0 0 0 3px rgba(233, 33, 99, .2);
$box-shadow5: 0 0 0 3px rgba(233, 33, 99, .3);
$backgroun1: #272727;
$backgroun2: black;
$backgroun3: #040d15;
$backgroun4: #2a2b2f;
$backgroun5: #fd8c04;
$backgroun6: #c5c5c5;
$backgroun7: rgba(233, 33, 99, 1);
$backgroun8: #414141;
$bordercolor1: 2px solid #1e1f23;
$textshadow1: 0 0 20px #ecaa59;
$textshadow2: 0 0 20px #fd8c04;