@font-face {
    font-family: 'AncientModernTales';
    src: url(fonts/AncientModernTales.ttf);
}
$fChida: 'AncientModernTales';
$fImportante: 'Caveat', cursive;
$fSans1: 'Montserrat', sans-serif;
$fSans2: 'Poppins', sans-serif;
$primary-font: 'Lato', sans-serif;

$size1: 6em;

$shadow1: 0 0 20px #fd8c04;

$body-font-family: $primary-font;
$body-font-size: 14px;
$body-color: $dark-gray;